<!DOCTYPE html>
<html>
  <head>
    <title>Teastudio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Custom Fonts -->
    <link href='//fonts.googleapis.com/css?family=.|Asap:light,normal,bold|Asap:light,normal,bold|' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
